name: Run All Tests

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test with jqunit
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable && rustup default stable
      - run: brew install jq
      - uses: actions/checkout@v2
        with:
          repository: mrwilson/jqunit
          path: ./jqunit
      - run: RUSTFLAGS=-Awarnings cargo install --path .
        working-directory: ./jqunit
      - run: jqunit --libraries *